/NeloGameMaker/*.sln
/NeloGameMaker/.vsconfig
/NeloGameMaker/Logs
/NeloGameMaker/Temp
/NeloGameMaker/Library
/NeloGameMaker/*.csproj
/SandBoxGameMaker/.vs
/SandBoxGameMaker/obj
/SandBoxGameMaker/Library
/SandBoxGameMaker/Logs
/SandBoxGameMaker/Temp
/SandBoxGameMaker/.vsconfig
/SandBoxGameMaker/Assembly-CSharp.csproj
/SandBoxGameMaker/Assembly-CSharp-Editor.csproj
/SandBoxGameMaker/Assembly-CSharp-firstpass.csproj
/SandBoxGameMaker/HSVPicker.csproj
/SandBoxGameMaker/HSVPicker.Editors.csproj
/SandBoxGameMaker/NonConvexCollider.csproj
/SandBoxGameMaker/NonConvexColliderRuntimeAPI.csproj
/SandBoxGameMaker/NonConvexEditor.csproj
/SandBoxGameMaker/PhotonChat.csproj
/SandBoxGameMaker/PhotonRealtime.csproj
/SandBoxGameMaker/PhotonUnityNetworking.csproj
/SandBoxGameMaker/PhotonUnityNetworking.Demos.csproj
/SandBoxGameMaker/PhotonUnityNetworking.Editor.csproj
/SandBoxGameMaker/PhotonUnityNetworking.Utilities.csproj
/SandBoxGameMaker/PhotonUnityNetworking.Utilities.Culling.Editor.csproj
/SandBoxGameMaker/PhotonUnityNetworking.Utilities.PhotonPlayer.Editor.csproj
/SandBoxGameMaker/PunDemos.DemoHubEditor.csproj
/SandBoxGameMaker/PunDemos.DemoSlotcarEditor.csproj
/SandBoxGameMaker/RMM3D.csproj
/SandBoxGameMaker/RMM3D.Editor.csproj
/SandBoxGameMaker/RuntimeSceneGizmo.Runtime.csproj
/SandBoxGameMaker/RuntimeTestAssembly.csproj
/SandBoxGameMaker/RuntimeTransformHandle.csproj
/SandBoxGameMaker/SandBoxGameMaker.sln
/SandBoxGameMaker/Whinarn.UnityMeshSimplifier.Editor.csproj
/SandBoxGameMaker/Whinarn.UnityMeshSimplifier.Runtime.csproj
/SandBoxGameMaker/Zenject.csproj
/SandBoxGameMaker/Zenject-Editor.csproj
/SandBoxGameMaker/Zenject-IntegrationTests.csproj
/SandBoxGameMaker/Zenject-IntegrationTests-Editor.csproj
/SandBoxGameMaker/Zenject-PoolMonitor-Editor.csproj
/SandBoxGameMaker/Zenject-ReflectionBaking-Editor.csproj
/SandBoxGameMaker/Zenject-TestFramework.csproj
/SandBoxGameMaker/Zenject-UnitTests-Editor.csproj
/SandBoxGameMaker/UserSettings
/SandBoxGameMaker/*.csproj
